.login{

    width:100vw;
    height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    background:#0f172a;

}

.login-box{

    width:360px;

    background:white;

    padding:35px;

    border-radius:12px;

    display:flex;
    flex-direction:column;

    gap:15px;

    box-shadow:0 15px 40px rgba(0,0,0,.3);

}

.login-box h1{

    text-align:center;

    color:#1565c0;

}

.login-box input{

    height:45px;

    padding:10px;

    font-size:16px;

}

.login-box button{

    height:48px;

    background:#1565c0;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-size:17px;

}

.login-box span{

    color:red;

    text-align:center;

}